* {
    --question-color: #8f4b9b;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h2 {
    text-align: center;
    padding: 20px;
}

button {
    background-color: var(--question-color);
    color: white;
    border: none;
    font-size: 1em;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #b275bd;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px auto;
    width: 20%;
}

.timer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.timer h4 {
    padding-right: 3px;

}

.points-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}